.git
.github
.idea
.fleet
.nova
.vscode
.zed

.agents
.amp
.claude
.cursor
.factory
.grok
.junie
.kiro
.pi
.mcp.json
boost.json
opencode.json
opencode.jsonc
AGENTS.md
CLAUDE.md

node_modules
vendor
public/build
public/hot
public/storage

storage/*.key
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/pail
!storage/app/public/.gitkeep
!storage/framework/**/.gitkeep
!storage/logs/.gitkeep

bootstrap/cache/*.php
bootstrap/ssr

database/database.sqlite
.phpunit.cache
.phpunit.result.cache

.env
.env.*
!.env.example

k8s
*.md
tests
